@page "/comparer"
@using SQL

@if (isBeforeCompare)
{
    <div class="text-areas">
        <textarea @bind="leftTextAreaValue" placeholder="Enter SQL script here..."></textarea>
        <textarea @bind="rightTextAreaValue" placeholder="Enter SQL script here..."></textarea>
    </div>

    <div class="center-div">
        <button @onclick="Compare">Compare!</button>
    </div>
}
else {
    <div class="center-div">
        <pre>
            @compareResult
        </pre>
    </div>
}

<style>
    .text-areas {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        height: 500px;
        gap: 2%;
    }

    textarea {
        width: 49%;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    .center-div {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    button {
        padding: 15px 30px;
        font-size: 18px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    pre {
        width: 700px;
        height: 400px;
        overflow-y: auto;
        font-family: monospace;
        font-size: 14px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f4f4f4;
    }
</style>

@code {
    private bool isBeforeCompare = true;

    private string leftTextAreaValue = string.Empty;
    private string rightTextAreaValue = string.Empty;

    private string compareResult = string.Empty;

    private void Compare()
    {
        compareResult = SqlScriptsComparer.CompareSqlScripts(leftTextAreaValue, rightTextAreaValue);

        isBeforeCompare = false;
    }
}